

<div id="contenedor" class="row">
  <% for(var i=0; i<articulos.length; i++) {%>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title"><%= articulos[i].id %> - <%= articulos[i].title %> </h4>
      <p class="card-text">
        <%= articulos[i].authores %>
      </p>
      <p class="card-text">
        <%= articulos[i].abstract %>
      </p>
      <p class="card-text">
        <%= articulos[i].keywords %>
      </p>
      <p class="card-text">
        <%= articulos[i].category %>
      </p>

      <a href="http://localhost:1337/Recommender/TraerParametros?id=<%= articulos[i].id %>">
        <button type="button"  class="btn btn-primary">Editar</button>
      </a>

    </div>
  </div>
  <% } %>
</div>


<br>
<br>
<br>
