<!doctype html>
<html ng-app="appRecommender">
<head>
  <meta charset="UTF-8">

  <title>Recomendador</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>


</head>

<body ng-controller="Controller">






<h1>Recomendaciones</h1>
<br>

<form action="/LinkPublication/crearLinkPublication" method="post">
  <div class="form-group row">
    <label class="col-2 col-form-label">Link Valor</label>
    <div class="col-10">
      <input class="form-control"   value="{{articulos[3].links.value}}" type="text"  id="links_Value" name="links_Value">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Link tipo</label>
    <div class="col-10">
      <input class="form-control"  value="{{articulos[3].links.type}} "type="text"  id="link_Type" name="link_Type">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Valor de Objeto</label>
    <div class="col-10">
      <input class="form-control" value="{{articulos[3].o.value}}" type="text" id="o_Value" name="o_Value">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Tipo del objeto</label>
    <div class="col-10">
      <input class="form-control"  value="{{articulos[3].o.type}}" type="text" id="o_Type" name="o_Type">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Crear</button>

</form>

<h1>Metadatos de Articulos Guardados</h1>

<!--<form action="/LinkPublication/TraerParametros?id=1" method="post">-->
<h2> <%= Articulo.id%> - <%= Articulo.title%>  </h2>
<h3>Autores:</h3>
<p>Recomendación Mediante Author</p>
<input type="text" data-ng-Model="nuevoAuthorIn.autor1"  name="f1t1" id="f1t1" ><%= Articulo.authores%>

  <button class="btn btn-success" type="submit" ng-Click="addAuthor()">Busqueda</button>


<h3>Autores</h3>

<ul>
  <li ng-repeat="autor in autoresSeleccionado track by $index">
    {{autor.autor1}}
  </li>
</ul>


<!--</form>-->


<h3>Abstract: </h3><p><%= Articulo.abstract%></p>
<h3>Palabras Clave:</h3> <p><%= Articulo.keywords%></p>
<h3>Categoria: </h3><p><%= Articulo.category%></p>


<div  ng-repeat="x in respuestaJson" >
  <p >{{x.bindings[0].o.value}}</p>
  <p >{{x.bindings[1].o.value}}</p>
  <p >{{x.bindings[2].o.value}}</p>
  <p >{{x.bindings[3].o.value}}</p>
  <p >{{x.bindings[4].o.value}}</p>
</div>



<br>

<div  ng-repeat="x in respuestaJson2" >
  <p >{{x.bindings[4].name.value}}</p>

</div>





















<form action="/LinkPublication/crearLinkPublication" method="post">
  <div class="container" style="background-color: black">
    <div class="row">
      <img class="img-cabecera"
           src="https://www.acm.org/binaries/content/gallery/acm/ctas/fca_logo.jpg/fca_logo.jpg/acm%3Adesktopcta"
           alt=""
           width="100%">
    </div>
    <br>

    <br><br>
    <div class="row">
      <div class="col-md-4" ng-repeat="articulo in articulos;">

        <div class="card">
          <img class="card-img-top"
               src="http://blog.ciat.cgiar.org/wp-content/uploads/magazines.jpg"
               alt="Card image cap"  height="200">

          <div class="fondo">
            <br>
            <h1>Link relacionados </h1>
            <br>
            <div class="form-group row">
              <label class="col-2 col-form-label">Link Valor</label>
              <div class="col-10">
                <input class="form-control" type="text"  value="{{articulo.links.value}}" id="links_Value" name="links_Value">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">Link tipo</label>
              <div class="col-10">
                <input class="form-control" type="text"  value="{{articulo.links.type}}" id="link_Type" name="link_Type">
              </div>
            </div>

            <h1>Objeto</h1>
            <br>

            <div class="form-group row">
              <label class="col-2 col-form-label">Valor de Objeto</label>
              <div class="col-10">
                <input class="form-control" type="text" value="{{articulo.o.value}}" id="o_Value" name="o_Value">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">Tipo del objeto</label>
              <div class="col-10">
                <input class="form-control" type="text" value="{{articulo.o.type}}" id="o_Type" name="o_Type">
              </div>
            </div>
            <br>

            <br>
          </div>
          <br>
          <br>

          <!--<button type="submit" class="btn btn-success">Crear</button>-->
          <br>


        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>

</form>

<script>


  var app = angular.module("appRecommender",[]);
  app.controller("Controller",function ($scope,$http) {



    //Prefijos Publicaciones ACM
    let endPointAcm ="http://acm.rkbexplorer.com/sparql/?format=json&query=";
    let id_Prefix = "PREFIX+id%3A+++%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F%3E%0D%0A";
    let rdf_Prefix = "PREFIX+rdf%3A++%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0A";
    let rdfs_Prefix = "PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0A";
    let akt_Prefix = "PREFIX+akt%3A++%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fportal%23%3E%0D%0A";
    let owl_Prefix = "PREFIX+owl%3A++%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23%3E%0D%0A";
    let akts_Prefix = "PREFIX+akts%3A+%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fsupport%23%3E%0D%0A%0D%0A%0D%0A";
    $scope.articulos = [];
    $scope.autores = [];
    $scope.respuestaJson= [];
    $scope.nombres = [];


    $scope.nuevoAuthorIn = {};
    $scope.autoresSeleccionado = [
//      {
//        autor1: "Jonathan"
//      },
//      {
//        autor1: "Paul"
//      },
    ];
    $scope.addAuthor = function () {


      $scope.autoresSeleccionado.push($scope.nuevoAuthorIn);
      $scope.nuevoAuthorIn ={};
      console.log("autor es:"+$scope.autoresSeleccionado.length);

      for(var i = 0;i<$scope.autoresSeleccionado.length;i ++){
        nombres = $scope.autoresSeleccionado[i].autor1
      console.log("autor es:"+nombres);
      }
     function dividirCadena (cadenaADividir,separador){
        var arrayDeCadena = cadenaADividir.split(separador);
       console.log("la cadena original es:"+cadenaADividir);
       console.log("El Separador es:"+separador);
       console.log("El array tiene:"+arrayDeCadena.length);

       console.log("El array tiene:"+arrayDeCadena[0]);
       console.log("El array tiene:"+arrayDeCadena[1]);

       for (var j=0;j<arrayDeCadena.length;j++){
         console.log(arrayDeCadena[j]);
       }





       //Autores
       let name1 = arrayDeCadena[0]
       let apellido1 = arrayDeCadena[1]
       let select2 = "SELECT+DISTINCT+%3Fname+";
       let where2="WHERE+%7B%3Fs+akt%3Ahas-author+%3Fa.%3Fa+akt%3Afull-name+%3Fname.+" +
         "FILTER+regex%28str%28%3Fname%29%2C+%22"+name1+"%22%2C+%22"+apellido1+"%22%29%7D+";
       let limit2="limit+10%0D%0A%0D%0A";
       var concatenacion2 = endPointAcm + id_Prefix+rdf_Prefix+rdfs_Prefix+akt_Prefix+owl_Prefix+akt_Prefix+akts_Prefix+select2+where2+limit2;
       //Consumo Api con la consulta por autores
       $http.get(concatenacion2)
         .success(function (data){
           console.log(data);
           $scope.autores = data.results;
           $scope.respuestaJson2= data;
           console.log("la url es:" + concatenacion2);
         })
         .error(function (err) {
         });

      };
      var cadenaVerso = nombres
      var patron = ", ";
      var nuevoValor = " ";
      var nuevaCadena = cadenaVerso.replace(patron,nuevoValor);
      var espacio = " ";
      //var coma = ",";
      dividirCadena(nuevaCadena,espacio);
      //dividirCadena(cadenaVerso,coma)



    };


    //Links
    let select = "SELECT+DISTINCT+%3Flinks+%3Fo+";
    let where="WHERE%7B%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F100233%3E+%3Flinks+%3Fo%7D+Limit+20%0D%0A";
    var concatenacion = endPointAcm + id_Prefix+rdf_Prefix+rdfs_Prefix+akt_Prefix+owl_Prefix+akt_Prefix+akts_Prefix+select+where;



    $http.get(concatenacion)
      .success(function (data){
        console.log(data);
        $scope.articulos = data.results.bindings;
        $scope.respuestaJson= data;
        console.log("la url es:" + concatenacion);
      })
      .error(function (err) {
      });







  });
</script>






</body>
</html>




