<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EPN</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="<%= sails.config.myconf.base_url %>/theme/bower_component/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= sails.config.myconf.base_url %>/theme/bower_component/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= sails.config.myconf.base_url %>/theme/dist/css/AdminLTE.min.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style type="text/css">
    .login-page, .register-page {
      background-image: url('<%= sails.config.myconf.base_url %>images/login.jpg');
      background-repeat:no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>
<body class="hold-transition login-page">

<%-partial ('../Login/login.ejs')%>

<!-- jQuery 3 -->
<script src="<%= sails.config.myconf.base_url %>/theme/bower_component/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="<%= sails.config.myconf.base_url %>/theme/bower_component/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
