<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Añadidos</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active"> Añadidos </li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">



      <!-- /-------------------------------------------------------------------------------------------------------------/ -->

      <!--------------------------
      | Your Page Content Here START|
      -------------------------->

      <div class="row">
        <div class="col-12">
          <div class="card card-primary card-outline">
            <div class="card-header no-border">
              <font color="#01549b"><h3 class="card-title">Artículos añadidos a mi biblioteca</h3></font>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="card-body">



                <!--CODIGO FER-->
                <form action="/mibiblioteca">
                  <div class="form-group row">
                    <label for="mibusqueda" class="col-4 col-form-label">
                      Busque por Palabras clave o presiona buscar para ver todos
                    </label>
                    <div class="col-6">
                      <input class="form-control" type="text" placeholder="Seach" id="mibiblioteca"
                             name="mibiblioteca">
                    </div>
                    <div class="col-2">
                      <button class="btn btn-success btn-block">Buscar</button>
                    </div>
                  </div>

                </form>
                <div class="row">
                  <div class="col-md-12">
                    <% for(var i=0;i<MiArticulo.length;i++){ %>

                    <!-- Box Comment -->
                    <div class="card card-widget collapsed-card card-outline">
                      <div class="card-header">
                        <div class="user-block">
                          <img class="img-circle" src="<%= MasterUrlService.base_url()+req.session.me.path_photo%>" alt="User Image">
                          <span class="username"><%=MiArticulo[i].title%></span>
                          <span class="description">Año Publicación - <%=MiArticulo[i].year%></span>
                          <span class="username"> <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i></button></span>

                        </div>
                        <!-- /.user-block -->
                        <div class="card-tools">

                          <form action="/Saludo/eliminarmiArticulo" method="post">
                            <input hidden
                                   type="text"
                                   value="<%=MiArticulo[i].id%>"
                                   name="id">
                            <button  type="submit"
                                     class="btn btn-outline-danger">Borrar</button>
                            <a hidden href="/VerMisArticulo?id=<%=MiArticulo[i].id%>">
                              <button type="button" class="btn btn-primary">
                                Ver
                              </button>
                            </a>
                          </form>

                        </div>
                        <!-- /.card-tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header"><%=MiArticulo[i].authors%></h5>
                              <span class="description-text">Autores</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                          <div class="col-sm-4 border-right">
                            <div class="description-block">
                              <h5 class="description-header"><%=MiArticulo[i].language%></h5>
                              <span class="description-text">Idioma</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                          <div class="col-sm-4">
                            <div class="description-block">
                              <h5 class="description-header"><%=MiArticulo[i].category%></h5>
                              <span class="description-text">Categoria</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>

                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <%}%>
                  </div>
                </div>
                <!--./CODIGO FER-->
              </div><!-- /.card-body -->
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->

      <!--------------------------
      | Your Page Content Here END|
      -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

