<html ng-app="appRecommender">

<head>
  <script>
    var arrayURIS = new Array();
    var arrayValores = new Array();
    var prefixs = "PREFIX id:   <http://acm.rkbexplorer.com/id/>"+
      "PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>"+
      "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>"+
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>"+
      "PREFIX owl:  <http://www.w3.org/2002/07/owl#>"+
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>"+
      "PREFIX akts: <http://www.aktors.org/ontology/support#>"

    function exec() {
      var endpoint = d3.select("#endpoint").property("value")
      var sparql = d3.select("#sparql").property("value")
      var sparqlMetadata = d3.select("#sparqlMetadata").property("value")
      d3sparql.query(endpoint, sparql, render)
      d3sparql.query(endpoint, sparqlMetadata, render2)
    }

    function render(json) {
      var config = {
        "selector": "#result"
      }
      d3sparql.htmltable2(json, config)
    }

    function render2(json) {
      var config = {
        "selector": "#resultMetadata"
      }
      d3sparql.model(json, config)
    }



    function recom(){

      var sparql = prefixs + "SELECT ?cr1URI WHERE {"+
        "{?cr1URI ?link <http://acm.rkbexplorer.com/id/100233>.}}"
      var endpoint = d3.select("#endpoint").property("value")
      d3sparql.query(endpoint, sparql,almArr)
    }

    function  almArr(json){
      var articsArr = json.results.bindings;
      for(i in articsArr){
        arrayURIS[i] = articsArr[i].cr1URI.value
      }
      var sparqlRec;
      for(i=0 ; i<arrayURIS.length ; i++){
        sparqlRec= prefixs +
          "SELECT ?links WHERE{"+
          //"{ <http://acm.rkbexplorer.com/id/100233> ?links " + "<" +arrURI[i] + ">.}"+
          //"UNION"+
          "{<"+arrayURIS[i]+">" + " ?links <http://acm.rkbexplorer.com/id/100233>.}"+
          "}"
        var endpoint = d3.select("#endpoint").property("value")
        d3sparql.query(endpoint,sparqlRec,almValues)
      }

      console.log(arrayValores.length)

    }

    function almValues(json){
      var uris = json.results.bindings;
      arrayValores.push(uris.length);
    }

    function exec_offline() {
      d3.json("cache/interpro/1117-hk.json", render)
    }
    function toggle() {
      d3sparql.toggle()
    }
  </script>
</head>
<body ng-controller="Controller">
<br>
<div id="metadata">
<h1>Metadatos Sincronizados en Wikindx en relación al autor </h1>
<h2> <%= query.creatorId%>- <%= creator.creatorFirstname%> <%= creator.creatorSurname%>  </h2>
<br>
<div class="row">
  <label class="col-1 col-form-label">Nombre:</label>
  <div class="col-5">
    <input class="form-control" type="text"  value="<%= query.creatorFirstname%>" disabled>
  </div>
  <label class="col-1 col-form-label">Apellido:</label>
  <div class="col-5">
    <input class="form-control" type="text"  value="<%= query.creatorSurname%>" disabled>
  </div>
</div>
<div class="row">
  <label class="col-1 col-form-label">Revista:</label>
  <div class="col-5">
    <input class="form-control" type="text"  value="<%= journal%>" disabled>
  </div>
  <label class="col-1 col-form-label">Editor:</label>
  <div class="col-5">
    <input class="form-control" type="text"  value="<%= publisher%>(<%= locationPublisher%>)" disabled>
  </div>
</div>
<div class="row">
  <label class="col-1 col-form-label">Titulo:</label>
  <div class="col-11">
    <input class="form-control" id="title" type="text"  value="<%= query.resourceTitle%>" disabled>
  </div>
  <label class="col-1 col-form-label">Categoria:</label>
  <div class="col-11">
    <input class="form-control" type="text"  value="<%= category%>" disabled>
  </div>
  <label class="col-1 col-form-label">Keywords:</label>
  <div class="col-11">
    <input class="form-control" type="text" id="keyword"  value="<%= keyword%>" disabled>
  </div>
</div>
<div class="row">
  <label class="col-1 col-form-label">Abstract:</label>
  <div class="col-11">

<textarea
  id="abstract"
  name="abstract"
  rows="5" cols="124"
  value="<%= abstract%>"
  disabled
><%= abstract%></textarea>

  </div>
</div>
</div>

<div id="firstQuery">

<div class="form-group row">
  <label class="col-md-8 col-form-label">Consulta para encontrar nombre de autores similares</label>
  <div class="col-10">
    <input type="text" data-ng-Model="nuevoAuthorIn.autor1"  name="f1t1" id="f1t1" >

  </div>
</div>

<button class="btn btn-success" type="submit" ng-Click="addAuthor()">Busqueda</button>

<br><br>
<ul>
  <li ng-repeat="autor in autoresSeleccionado track by $index">
    {{autor.autor1}}
  </li>
</ul>
</div>

<div id="query" style="margin:auto">

  <form class="form-inline">
    <label>SPARQL endpoint:</label><br>
    <div class="input-append">
      <input id="endpoint" class="span5" value="http://ieee.rkbexplorer.com/sparql/" type="text"  size=30 >
      <button class="btn btn-success" type="button" onclick="exec()">Query</button>
      <button hidden class="btn btn-success" type="button" onclick="recom()">Relacionados</button>
      <button class="btn btn-success" type="button" onclick="toggle()"><i id="button" class="fas fa-chevron-up"></i></button>
    </div>
  </form>

  <br>
  <textarea id="sparql" class="span9" rows=15 cols="100">

      </textarea>
  <br><br>
</div>
<div id="result"></div>

<div>
  <input type="hidden" value="" name="test">
</div>


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="metadataACM" tabindex="-1" role="dialog" aria-labelledby="metadataACMTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="metadataACMTitle">Metadatos ACM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <textarea hidden id="sparqlMetadata" class="span9" rows=15>

      </textarea>
        <div id="resultMetadata"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>




<div id="resultApi">
<form action="" method="post">
  <div class="container" style="background-color: black">
    <div class="row">
      <img class="img-cabecera"
           src="https://www.acm.org/binaries/content/gallery/acm/ctas/fca_logo.jpg/fca_logo.jpg/acm%3Adesktopcta"
           alt=""
           width="100%">
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" ng-repeat="autor in autores;">

        <div class="card">
          <h1>Autor Relacionado</h1>
          <img class="card-img-top"
               src="http://www.anlagensicherheit.net/mt-medizintechnik/wp-content/uploads/2013/02/Autor_Bild.jpg"
               alt="Card image cap"  height="200">
          <div class="fondo">
            <div class="form-group row">
              <label class="col-2 col-form-label">Nombre:</label>
              <div class="col-10">
                <input class="form-control" type="text"  value=" {{autor.titleUri.value}}" id="name_Value" name="name_Value">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-4"></div>


    </div>
  </div>
</form>
</div>
























<script>


  ///////////////////////////Jquery
  $(document).ready(function(){

    //quitar las etiquetas innecesarias en la vista
    var contenido = abstract
    var texto = $(contenido).text();
    var res = texto.replace(/<[^>]*>?/g, '');
    $("#abstract").text(res);

    //modificar la salida de undefined
    var	a = $("#keyword").val()
    var	b = texto

    if(a == "undefined") {
      $("#keyword").val("This article does not contain keyword")
      $("#keyword").css({"font-style": "italic"})
      $("#keyword").css({"color": "Silver"})
    }
    if(b == "undefined") {
      $("#abstract").val("This article does not contain abstract")
      $("#abstract").css({"font-style": "italic"})
      $("#abstract").css({"color": "Silver"})
    }

    var titulo = $("#title").val();

    var prefixIeee = "PREFIX id:   <http://ieee.rkbexplorer.com/id/>\n"+
      "PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n" +
      "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n" +
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>\n" +
      "PREFIX owl:  <http://www.w3.org/2002/07/owl#>\n" +
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>\n" +
      "PREFIX akts: <http://www.aktors.org/ontology/support#>\n" +
      "PREFIX iai:  <http://www.iai.uni-sb.de/resist#>\n"


    function dividirCadena (cadenaADividir,separador){
      var arrayDeCadena = cadenaADividir.split(separador);
      console.log("la cadena original es:"+cadenaADividir);
      console.log("El Separador es:"+separador);
      console.log("El array tiene:"+arrayDeCadena.length);
      for (var j=0;j<arrayDeCadena.length;j++){
        console.log(arrayDeCadena[j]);

      }
      //Autores
      let parametro1 = arrayDeCadena[0]


      var consulta1 =  prefixIeee + "SELECT DISTINCT ?titleUri ?title\n"+
        "WHERE { ?titleUri akt:has-title ?title. FILTER regex(str(?title), '"+parametro1+"', 'i')} Limit 10"

      $("#sparql").text(consulta1);

    };
    var cadenaVerso = titulo
    var patron = ", ";
    var nuevoValor = " ";
    var nuevaCadena = cadenaVerso.replace(patron,nuevoValor);
    var espacio = " ";
    var coma = ",";
    dividirCadena(nuevaCadena,espacio);
    //dividirCadena(nuevaCadena,coma);


////////////tabla de resultados


   // var href = document.getElementById("resultMetadata").innerText;

    var href = "https://www.w3schools.com/jsref/prop_node_innertext.asp"
    d3sparql.htmltable2 = function(json, config) {
      config = config || {}


      var head = json.head.vars
      var data = json.results.bindings
      var opts = {
        "selector": config.selector || null
      }

      var table = d3sparql.select(opts.selector, "htmltable").append("table").attr("class", "table table-bordered")
      var thead = table.append("thead")
      var tbody = table.append("tbody")
      thead.append("tr")
        .selectAll("th")
        .data(head)
        .enter()
        .append("th")
        .text(function(col) { return col })

      var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr")
      var cells = rows.selectAll("td")
        .data(function(row) {
          return head.map(function(col) {

            return row[col].value

          })
        })
        .enter()
        .append("td")
        .append("button").attr("class", "btn btn-primary").attr("data-toggle", "modal").attr("data-target", "#metadataACM")
        .text(function(val) {return val })

      // default CSS
      table.style({
        "margin": "10px"
      })
      table.selectAll("th").style({
        "background": "#eeeeee",
        "text-transform": "capitalize",
      })
    }


    var consulta2 =   prefixIeee +
      "SELECT DISTINCT ?web WHERE {<http://ieee.rkbexplorer.com/id/publication-00008093> akt:has-web-address ?web.}"


    $("#sparqlMetadata").text(consulta2);
///////////////////////model

    d3sparql.model = function(json, config) {
      config = config || {}

      var head = json.head.vars
      var data = json.results.bindings
      var opts = {
        "selector": config.selector || null
      }

      var table = d3sparql.select(opts.selector, "htmltable").append("table").attr("class", "table table-bordered")
      var thead = table.append("thead")
      var tbody = table.append("tbody")
      thead.append("tr")
        .selectAll("th")
        .data(head)
        .enter()
        .append("th")
        .text(function(col) { return col })
      var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr")
      var cells = rows.selectAll("td")
        .data(function(row) {
          return head.map(function(col) {
            console.log(row[col].value)
            return row[col].value

          })
        })
        .enter()
        .append("td")
        .append("a").attr("href", href).attr("id","redireccion")
        .text(function(val) { return val })



      // default CSS
      table.style({
        "margin": "10px"
      })
      table.selectAll("th").style({
        "background": "#eeeeee",
        "text-transform": "capitalize",
      })





    }


  });
/////////////////////////angular
  var app = angular.module("appRecommender",[]);
  app.controller("Controller",function ($scope,$http) {

    //Prefijos Publicaciones ACM
    let endPointAcm ="http://acm.rkbexplorer.com/sparql/?format=json&query=";
    let id_Prefix = "PREFIX+id%3A+++%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F%3E%0D%0A";
    let rdf_Prefix = "PREFIX+rdf%3A++%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0A";
    let rdfs_Prefix = "PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0A";
    let akt_Prefix = "PREFIX+akt%3A++%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fportal%23%3E%0D%0A";
    let owl_Prefix = "PREFIX+owl%3A++%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23%3E%0D%0A";
    let akts_Prefix = "PREFIX+akts%3A+%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fsupport%23%3E%0D%0A%0D%0A%0D%0A";

    $scope.nuevoAuthorIn = {};
    $scope.autoresSeleccionado = [];
    $scope.addAuthor = function () {

      $scope.autoresSeleccionado.push($scope.nuevoAuthorIn);
      $scope.nuevoAuthorIn ={};
      console.log("autor es:"+$scope.autoresSeleccionado.length);
      for(var i = 0;i<$scope.autoresSeleccionado.length;i ++){
        var nombres = $scope.autoresSeleccionado[i].autor1
        console.log("autor es:"+nombres);
      }
      function dividirCadena (cadenaADividir,separador){
        var arrayDeCadena = cadenaADividir.split(separador);
        console.log("la cadena original es:"+cadenaADividir);
        console.log("El Separador es:"+separador);
        console.log("El array tiene:"+arrayDeCadena.length);

        console.log("El array tiene:"+arrayDeCadena[0]);
        console.log("El array tiene:"+arrayDeCadena[1]);

        for (var j=0;j<arrayDeCadena.length;j++){
          console.log(arrayDeCadena[j]);
        }



        //Autores
        let name1 = arrayDeCadena[0]
        let apellido1 = arrayDeCadena[1]
        let select2 = "SELECT+DISTINCT+%3FtitleUri+";
        let where2="WHERE+%7B%3FtitleUri+akt%3Ahas-title+%3Fp.+" +
          "filter+%28%3Fp%3D%22"+name1+"%22%29%7D";
        let limit2="limit+100";
        var concatenacion2 = endPointAcm + id_Prefix+rdf_Prefix+rdfs_Prefix+akt_Prefix+owl_Prefix+akt_Prefix+akts_Prefix+select2+where2+limit2;
        //Consumo Api con la consulta por autores
        $http.get(concatenacion2)
          .success(function (data){
            console.log(data);
            $scope.autores = data.results.bindings;
            $scope.respuestaJson2= data;
            console.log("la url es:" + concatenacion2);
          })
          .error(function (err) {
          });
      };
      var cadenaVerso = nombres
      var patron = ", ";
      var nuevoValor = " ";
      var nuevaCadena = cadenaVerso.replace(patron,nuevoValor);
      var espacio = " ";
      //var coma = ",";
      dividirCadena(nuevaCadena,espacio);
      //dividirCadena(cadenaVerso,coma)



    };



  });
</script>




<br>
<br>
<br>

</body>
</html>




