<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Wikindx</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active"><a href="<%= MasterUrlService.base_url()%>recommendationsWkx"> Wikindx</a></li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
      <!--------------------------
      | Your Page Content Here START|
      -------------------------->

      <div ng-controller="mainWikindxController">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fa fa-info"></i> Note:</h5>
              Artículos sincronizados a Wikindx por la comunidad de investigadores.
              <small> Para mostrar los metadatos relacionado, escoja uno de los artículos guardados en wikindx:</small>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <%{%>
          <div class="alert alert-warning">
            <strong>¡Clik en BUSCAR! </strong> Para ver los todos los artículos
          </div>
        <%}%>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Lista
                </h3>
                <div class="card-tools">

                  <form class="reset-margin">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control float-right"
                      placeholder="Buscar"
                      id ="busqueda"
                      name="busqueda"
                      ng-model="busqueda">
                    <div class="input-group-append">
                      <button
                        ng-click="buscarArticulo()"
                        class="btn btn-primary"
                        ng-init="url='<%= MasterUrlService.base_url()%>'">
                        <i class="fa fa-search"></i> Buscar
                      </button>
                      <button class="btn btn-primary" type="reset"><i class="fa fa-eraser"></i></button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover" ng-init='configPages()'>
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat='article in articles | startFromGrid: currentPage * pageSize | limitTo: pageSize' >
                    <td>{{$index+1}}</td>
                    <td>{{article.resourceTitle}}</td>
                    <td>

                      <div class="float-right">
                        <a hidden class="btn btn-outline-success btn-xs" uib-popover="Editar" popover-trigger="'mouseenter'" popover-title="Wikindx" href="<%= MasterUrlService.base_wikindx()%>index.php?action=resource_RESOURCEFORM_CORE&type=edit&id={{article.resourceId }}" target="_blank">
                          <i class="fa fa-fw fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-outline-info btn-xs" uib-popover="Ver Cita" popover-trigger="'mouseenter'" popover-title="Wikindx" href="<%= MasterUrlService.base_wikindx()%>index.php?action=resource_RESOURCEVIEW_CORE&id={{article.resourceId }}" target="_blank">
                          <i class="fa fa-fw fa-list-alt" aria-hidden="true"></i>
                        </a>
                        <a href="/RecommenderModule/RecommenderWkx/bringParametersCreator?resourceId={{article.resourceId }}">
                          <button type="button"  ng-click='irRecomendacion' class="btn btn-outline-primary btn-xs" uib-popover="Metadatos" popover-trigger="'mouseenter'" popover-title="Recomendación">
                            <span class="badge badge-pill badge-primary"><i class="fa fa-fw fa-list-ul" aria-hidden="true"></i></span>
                          </button>
                        </a>
                        <a href="<%= MasterUrlService.base_wikindx()%>index.php?action=admin_DELETERESOURCE_CORE&function=deleteResourceConfirm&navigate=list&resource_id={{article.resourceId}}" target="_blank">
                          <button class="btn btn-outline-danger btn-xs" type="button" onclick=""  uib-popover="Eliminar!" popover-trigger="'mouseenter'" popover-title="Wikindx">
                            <span class="badge badge-pill badge-danger"><i class="fa fa-fw fa-remove" aria-hidden="true"></i></span>
                          </button>
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item">
                    <button type='button' class='page-link' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                  </li>
                  <li class="page-item">
                    <button type='button' class='page-link' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                  </li>
                  <li class="page-item">
                    <button type='button' class='page-link' ng-disabled='currentPage >= articles.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>

      <!--------------------------
      | Your Page Content Here END|
      -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->












