<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=typeof title_for_layout == 'undefined' ? 'EPN Login' : title_for_layout%></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="<%= MasterUrlService.base_url()%>theme/plugins/bootstrap/css/bootstrap.css">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="<%= MasterUrlService.base_url()%>theme/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= MasterUrlService.base_url()%>theme/dist/css/adminlte.min.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style type="text/css">
    .login-page, .register-page {
      background-image: url('<%= MasterUrlService.base_url()%>images/login.jpg');
      background-repeat:no-repeat;
      background-image: fixed;
      background-image: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>
<body class="hold-transition login-page">

<%- body %>

<!-- jQuery -->
<script src="<%= MasterUrlService.base_url()%>theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= MasterUrlService.base_url()%>theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= MasterUrlService.base_url()%>theme/dist/js/adminlte.min.js"></script>

</body>
</html>
