<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Perfil</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active"> Perfil</li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="<%= MasterUrlService.base_url()+req.session.me.path_photo%>"
                     alt="User profile picture">
              </div>

              <h3 class="profile-username text-center"><%= req.session.me.name%> <%=req.session.me.last_name%></h3>

              <p class="text-muted text-center"><%= req.session.me.rol%></p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Followers</b> <a class="float-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="float-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="float-right">13,287</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fa fa-book mr-1"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fa fa-map-marker mr-1"></i> Location</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>

              <strong><i class="fa fa-pencil mr-1"></i> Skills</strong>

              <p class="text-muted">
                <span class="tag tag-danger">UI Design</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o mr-1"></i> Notes</strong>

              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">


                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Configuraciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#system" data-toggle="tab">Datos del sistema</a></li>
                <li class="nav-item"><a class="nav-link" href="#foto" data-toggle="tab">Foto</a></li>

              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">


                <div class="active tab-pane" id="settings">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Formacíon Académica</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_education" id="pro_education" placeholder="Mi Formación...">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Ciudad</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_city" id="pro_city" placeholder="Mi Ciudad">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputName2" class="col-sm-2 control-label">Dirección</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_address" id="pro_address" placeholder="Mi Dirección">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputSkills" class="col-sm-2 control-label">telefono</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_phone" id="pro_phone" placeholder="Mi telefono">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputExperience" class="col-sm-2 control-label">Información</label>

                      <div class="col-sm-10">
                        <textarea class="form-control" name="pro_aboutMe" id="pro_aboutMe" placeholder="Acerca de mi..."></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Editar</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="system">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"> Datos Personales </div>
                        <div class="panel-body">
                          <form role="form">

                            <div class="form-group">
                              <label>Nombre</label>
                              <input id = "id" type="hidden" class="form-control" value="">
                              <input id = "name" class="form-control" placeholder="Enter text" value="">
                            </div>

                            <div class="form-group">
                              <label>Apellido</label>
                              <input id = "phone" class="form-control" placeholder="Enter text" value="">
                            </div>

                            <div class="form-group">
                              <label>E-mail</label>
                              <input id = "email" class="form-control" placeholder="Enter text" value="">
                            </div>


                            <div class="form-group text-center">
                              <button id = "guardar_profile" onclick="" class="btn btn-primary" type="button">Guardar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel panel-default">
                        <div class="panel-heading"> Datos de acceso al sistema </div>
                        <div class="panel-body">
                          <form role="form">
                            <div class="form-group">
                              <label>Usuario</label>
                              <input class="form-control" value="" placeholder="Enter text" disabled>
                            </div>
                            <div class="form-group">
                              <label>Contraseña nueva</label>
                              <input id="pass1" type="password" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                              <label>Repetir contraseña nueva</label>
                              <input id="pass2" type="password" class="form-control" placeholder="">
                            </div>
                            <div class="form-group text-center">
                              <button id ="change_pass" onclick="" class="btn btn-primary" type="button">Cambiar contraseña</button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="foto">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="panel panel-default">
                        <div class="panel-heading"> Informaci&oacute;n </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="panel panel-default">

                                <div class="panel-heading">Foto de Perfil</div>

                                <div class="panel-body">


                                  <div class="row">

                                    <div class="col-lg-4 text-center">

                                      <div id="upload-demo" style="width:350px"></div>

                                    </div>

                                    <div class="col-lg-4" style="padding-top:30px;">

                                      <strong>Seleccionar Imagen:</strong>

                                      <br/>

                                      <input style="font-size: 12px;" type="file" id="upload">

                                      <br/>

                                      <button class="btn btn-success upload-result">Subir Imagen</button>

                                    </div>

                                    <div class="col-lg-4" style="">

                                      <!--<div id="upload-demo-i" style="background:#e1e1e1;width:225px;padding:30px;height:225px;margin-top:30px">-->
                                      <!--<?php if($data_user[0]['path_photo'] == ''){ ?>-->
                                      <!--<img width="175" src="<?=base_url()?>uploads/profiles/default-avatar.png" />-->
                                      <!--<?php }else{ ?>-->
                                      <!--<img src="<?=base_url()?><?=$data_user[0]['path_photo'] ?>" />-->

                                      <!--<?php } ?>-->


                                      <!--</div>-->

                                    </div>

                                  </div>


                                </div>

                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                    <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.tab-pane -->

              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
