<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Perfil</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active"> Perfil</li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="<%= MasterUrlService.base_url()+req.session.me.path_photo%>"
                     alt="User profile picture" style="width:100px;height:100px">
              </div>

              <h3 class="profile-username text-center"><%= req.session.me.name%> <%=req.session.me.last_name%></h3>

              <p class="text-muted text-center"><%= req.session.me.rol%></p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Articulos Guardados</b> <a class="float-right"><span class="badge badge-success">0</span></a>
                </li>
                <li class="list-group-item">
                  <b>Articulos Wikindx</b> <a class="float-right"><span class="badge badge-danger">0</span></a>
                </li>
                <li class="list-group-item">
                  <b>Articulos creados</b> <a class="float-right"><span class="badge badge-primary">0</span></a>
                </li>
              </ul>

              <a href="<%= MasterUrlService.base_url()%>biblioteca" class="btn btn-primary btn-block"><b>Biblioteca</b></a>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <div style="display:<%= display = ((req.session.all.pro_completed) != 0)?"block":"none"%>">
            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fa fa-book mr-1"></i> Educación</strong>

                <p class="text-muted">
                  <%= req.session.all.pro_education%>

                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Ubicación</strong>

                <p class="text-muted"><%= req.session.all.pro_address%>,<%= req.session.all.pro_city%></p>

                <hr>

                <strong><i class="fa fa-phone mr-1"></i> Teléfono</strong>

                <p class="text-muted"><%= req.session.all.pro_phone%></p>

                <hr>

                <strong><i class="fa fa-file-text-o mr-1"></i> Sobre mi</strong>

                <p class="text-muted"><%= req.session.all.pro_aboutMe%></p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">


                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Configuraciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#system" data-toggle="tab">Datos del sistema</a></li>
                <li class="nav-item"><a class="nav-link" href="#foto" data-toggle="tab">Foto</a></li>

              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">

                <div class="active tab-pane" id="settings">
                  <form action="<%= MasterUrlService.base_url()%>Auth/edit_profile" method="post" class="form-horizontal">
                    <input hidden=""
                           type="text"
                           value="<%= req.session.all.pro_id%>"
                           name="pro_id">
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Formación Académica</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_education" id="pro_education" value="" placeholder="Mi Formación..." autofocus required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Ciudad</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_city" id="pro_city" placeholder="Mi Ciudad" autofocus required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputName2" class="col-sm-2 control-label">Dirección</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_address" id="pro_address" placeholder="Mi Dirección" autofocus required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputSkills" class="col-sm-2 control-label">telefono</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="pro_phone" id="pro_phone" placeholder="Mi telefono" autofocus required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputExperience" class="col-sm-2 control-label">Información</label>

                      <div class="col-sm-10">
                        <textarea class="form-control" name="pro_aboutMe" id="pro_aboutMe" placeholder="Acerca de mi..." autofocus required></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Editar</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="system">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header p-2">
                          <h3 class="card-title"> Datos Personales </h3>
                        </div>
                        <div class="card-body">
                          <form role="form" action="<%= MasterUrlService.base_url()%>Auth/edit_user" method="post" >
                            <input hidden
                                   type="text"
                                   id="user_id"
                                   value="<%= req.session.all.user_id%>"
                                   name="user_id">
                            <div class="form-group">
                              <label>Nombre</label>
                              <input id = "user_name" name="user_name" class="form-control" value="<%= req.session.all.user_name%>" autofocus required>
                            </div>

                            <div class="form-group">
                              <label>Apellido</label>
                              <input id = "user_last_name" name="user_last_name" class="form-control" value="<%= req.session.all.user_last_name%>" autofocus required>
                            </div>

                            <div class="form-group">
                              <label>E-mail</label>
                              <input id = "user_email" name="user_email" class="form-control" type="email" value="<%= req.session.all.user_email%>" autofocus required>
                            </div>
                            <div class="form-group text-center">
                              <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header p-2">
                          <h3 class="card-title"> Datos de acceso al sistema </h3>
                        </div>
                        <div class="card-body">
                          <form role="form" action="<%= MasterUrlService.base_url()%>Auth/change_password" method="post">
                            <input hidden
                                   type="text"
                                   value="<%= req.session.all.user_id%>"
                                   name="user_id">
                            <div class="form-group">
                              <label>Usuario</label>
                              <input class="form-control" value="<%= req.session.all.user_username%>" placeholder="Enter text" disabled>
                            </div>
                            <div class="form-group">
                              <label>Contraseña nueva</label>
                              <input id="new_password" type="password" name="new_password" class="form-control" placeholder="" autofocus required>
                            </div>
                            <div class="form-group">
                              <label>Repetir contraseña nueva</label>
                              <input id="repit_password" name="repit_password" type="password" class="form-control" placeholder="" autofocus required>
                            </div>
                            <div class="form-group text-center">
                              <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="foto">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Foto de Perfil</h3>
                        </div>
                        <div class="card-body">

                          <div class="row">
                            <div class="col-lg-4" style=""></div>
                            <div class="col-lg-4" style="">
                              <div id="upload-demo-i">
                                <%if(req.session.all.pro_path_photo == ''){%>
                                  <img width="175" src="<%= MasterUrlService.base_url()%>uploads/profiles/default-avatar.jpg" style="background:#e1e1e1;width:225px;padding:30px;height:225px;margin-top:30px"/>
                                <%}else{%>
                                  <img src="<%= MasterUrlService.base_url()%><%= req.session.all.pro_path_photo%>" style="background:#e1e1e1;width:225px;padding:30px;height:225px;margin-top:30px" />
                                <%}%>
                              </div>
                            </div>
                            <div class="col-lg-4" style=""></div>
                          </div>
                          <div class="row">
                            <div class="col-lg-2 text-center"></div>
                            <div class="col-lg-8 text-center">
                              <form action="auth/upload" method="post" enctype="multipart/form-data">
                                <!--<label>Some other metadata</label>-->
                                <!--<input type="text" name="foo" placeholder="some other metadata"/>-->
                                <br/>
                                <label>Please upload your avatar:</label>
                                <input type="file" name="image" class="file custom-file-input" data-show-upload="true" accept="image/*" required/>
                                <!--uplaod_signature()-->
                                <br/>
                                <br/>
                              </form>
                            </div>
                            <div class="col-lg-2 text-center"></div>
                          </div>
                          <!-- /.row -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
